uname{
    Color:black;
    font-family: copperplate Gothic Light;
    font-size: 16 pt;
    font: bold;
}
city,rank{
    color: yellow;
    font-family: Arial;
    font-size: 12pt;
    font:bold;
}